/* Global Styles */
html {
  background-color: #f3f3f3;
}
.pageContainer {
  width: 60%;
  margin: auto;
  padding: 2%;
  background-color: #f3f3f3;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);
  display: flex;

}

.hidden {
  font-size: 8px;
  color: (21, 21, 21, .2);
  margin: 0px;
  padding: 0px;
}

.sectionTopBg {
  width: 64%;
  margin: auto 18%;
  height: 332px;
  /* TODO: Somehow make height dynamic... a percentage? */
  /* background-color: aqua; */
  background-image: url('./img/bannerPic.jpg');
  opacity: .2;
  position: absolute;
}

/* Top Section */
.sectionTop {
  text-align: left;
  position: relative;
}

.sectionTopLeft {
  width: 70%;
  float:left;
}

.profPic {
  border-radius: 10px;
  width: 30%;
  display: inline-block;
}

.mainText {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 20px;
}

.infoText {
  font-size: 16px;
  font-weight: 200px;
  line-height: 28px;
  width: 80%;
}

.sectionBreaker {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #f3f3f3;
  border: none;
}

/* Generic Lower Section Styles */
.sectionBottom {
  margin: auto;
  padding: 40px 0px 0px 0px;
  border-top: 2px ridge rgb(206, 206, 206, .4);
}
.sectionBottomThird {
  width: calc(97% / 3);
  display: inline-block;
  margin: 0px .5%;
  vertical-align: top;
}

.sectionBottomThirdTitle {
  font-weight: 600;
  text-align: center;
}

.sectionBottomThirdList {
  font-size: 16px;
}

.sectionBottomThirdListItem {
  margin-top: 10px;

}
/* Skills */
.sectionBottomThirdSkills {
  
}

/* Projects */
.sectionBottomThirdProjects {
  
}

/* External Links */
.sectionBottomThirdExternal {
  
}

/* Progress Bars */
/* TODO: Can these be turned into something a little more... dynamic...? */
.progBar {
  padding: 8px;
  color: #f3f3f3;
  font-size: 14px;
  margin: 4px 0px 10px 0px;
  width: 80%;
}

.progBar40 {
  background: linear-gradient(to right, rgb(128, 94, 0) 0%, rgb(128, 94, 0) 40%, rgb(207, 176, 0) 40%, rgb(207, 176, 0) 100%);
}

.progBar80 {
  background: linear-gradient(to right, maroon 0%, maroon 80%, rgb(168, 0, 0) 80%, rgb(168, 0, 0) 100%);
}

.progBar85 {
  background: linear-gradient(to right, rgb(0, 128, 58) 0%, rgb(0, 128, 58) 85%, rgb(0, 168, 14) 85%, rgb(0, 168, 14) 100%);
}

.progBar90 {
  background: linear-gradient(to right, rgb(128, 68, 0) 0%, rgb(128, 68, 0) 90%, rgb(235, 133, 0) 90%, rgb(235, 133, 0) 100%);
}

.progBar95 {
  background: linear-gradient(to right, rgb(81, 0, 128) 0%, rgb(81, 0, 128) 95%, rgb(134, 0, 168) 95%, rgb(134, 0, 168) 100%);
}

.progBar99 {
  background: linear-gradient(to right, rgb(0, 119, 128) 0%, rgb(0, 119, 128) 99%, rgb(0, 214, 230) 99%, rgb(0, 214, 230) 100%);
}

/* LEGACY */

.projects {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.projContainer {
  background-color: maroon;
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
}

p {
  margin: 10px;
  font-size: 20px;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: maroon;
}

a:hover {
  color: teal;
}

ul {
  font-size: 20px;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .profPic {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* CSS Animations */ 

/* TODO: Animation to fill bars for skills */
@keyframes fillBar {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.0);
  }
}