/* Global Styles */
.pageContainer {
  width: 60%;
  margin: auto;
  padding: 2%;
  background-color: #f3f3f3;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);

}

.sectionTopBg {
  width: 64%;
  margin: auto 18%;
  height: 332px;
  /* TODO: Somehow make height dynamic... a percentage? */
  /* background-color: aqua; */
  background-image: url('./img/bannerPic.jpg');
  opacity: .2;
  position: absolute;
}

/* Top Section */
.sectionTop {
  text-align: left;
  position: relative;
}

.sectionTopLeft {
  width: 70%;
  float:left;
}

.profPic {
  border-radius: 10px;
  width: 30%;
  display: inline-block;
}

.mainText {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 20px;
}

.infoText {
  font-size: 16px;
  font-weight: 200px;
  line-height: 28px;
  width: 80%;
}

.sectionBreaker {
  margin-top: 80px;
  margin-bottom: 40px;
  color: rgb(206, 206, 206, .4);
}

/* Generic Lower Section Styles */
.sectionBottom {
  margin: auto;
  padding: auto;
}
.sectionBottomThird {
  width: calc(97% / 3);
  display: inline-block;
  margin: 0px .5%;
  vertical-align: top;
}

.sectionBottomThirdTitle {
  font-weight: 600;
  text-align: center;
}

.sectionBottomThirdList {
  font-size: 16px;
}

.sectionBottomThirdListItem {

}
/* Skills */
.sectionBottomThirdSkills {
  
}

/* Projects */
.sectionBottomThirdProjects {
  
}

/* External Links */
.sectionBottomThirdExternal {
  
}

/* LEGACY */

.projects {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.projContainer {
  background-color: maroon;
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
}

p {
  margin: 10px;
  font-size: 20px;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: maroon;
}

a:hover {
  color: teal;
}

ul {
  font-size: 20px;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .profPic {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* CSS Animations */ 

/* TODO: Animation to fill bars for skills */
@keyframes fillBar {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}