/* Global Styles */
.pageContainer {
  width: 80%;
  margin: auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

/* Top Section */
.sectionTop {
  padding: 2%;
}

.sectionTopLeft {
  width: 50%;
}

.mainText {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 20px;
}

.infoText {
  font-size: 32px;
  font-weight: 200px;
}

/* Skills */

/* Projects */

/* External Links */
.infoText {
  font-size: 16px;
}

.profPic {
  height: 400px;
  border-radius: 10px;
  box-shadow: grey 0px 2px 20px;
  margin-bottom: 40px;
}

.projects {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.projContainer {
  background-color: maroon;
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
}

p {
  margin: 10px;
  font-size: 20px;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: gold;
}

a:hover {
  color: teal;
}

ul {
  font-size: 20px;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .profPic {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* CSS Animations */ 

/* TODO: Animation to fill bars for skills */
@keyframes fillBar {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}