/* Reset Stuff */
html,
body {
    background-color: white;
}

/* Homepage Styles */
.container {
    background-color: red;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 1% auto 0 auto;
}

.buttons {}

.buttonSummon {}

.buttonTagout {}

/* Card Styles */
.card-single {
    border-radius: 25px;
    box-shadow: 0.5px -5px 10px .2;
    margin: 10px;
    background-color: antiquewhite;
    height: 100%;
    width: 31%;
}

.card-title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    color: rgb(19, 19, 19);
}

.card-image {
    height: 200px;
    widht: 300px;
}

.card-quote {
    text-align: left;
    font-size: 14px;
    color: rgba(5, 4, 50, 0.975);
}